<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
        ============================
            Load CSS style sheet
        ============================
    -->
    <link rel="stylesheet" type = "text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type = "text/css" href="./css/fontawesome.css">
    <link rel="stylesheet" type = "text/css" href="./css/all.css">
    <link rel="stylesheet" type = "text/css" href="./css/main.css">
    <title>Simple Hostel || <%= title %> </title>
</head>
<body>